BACKEND_PORT=
DATABASE=
DATABASE_HOST=
DATABASE_PORT=
DATABASE_USER=
DATABASE_PASSWORD=
DATABASE_NAME=
CORS_ORIGIN=
MAX_RESUME_SIZE=

# AWS Cred
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=
AWS_S3_BUSKET_NAME=
